<nav class="menu">
  <img src="../../assets/nav-bar/tinytopato.png" alt="tiny topatoco logo">
  <div class="table">
    <ul id="horizontal-list">

      <div class="dropdown">
        <button id="comics" class="dropbtn">COMICS<img class="menu-icons" src="../assets/nav-bar/chevrondown.svg"
            alt="downward pointing chevron"></button>
        <div class="dropdown-content">
          <a href="#">Comics A-F</a>
          <a href="#">Comics G-N</a>
          <a href="#">Comics O-S</a>
          <a href="#">Comics T-Z</a>
        </div>
      </div>

      <div class="dropdown">
        <button id="podcasts" class="dropbtn">PODCASTS & MUSIC<img class="menu-icons"
            src="../assets/nav-bar/chevrondown.svg" alt="downward pointing chevron"></button>
        <div class="dropdown-content">
          <a href="#">Music</a>
          <a href="#">Podcasts</a>
        </div>
      </div>

      <div class="dropdown">
        <button id="artists" class="dropbtn">ARTISTS, WRITERS & GAMES<img class="menu-icons"
            src="../assets/nav-bar/chevrondown.svg" alt="downward pointing chevron"></button>
        <div class="dropdown-content">
          <a href="#">Artists</a>
          <a href="#">Writers</a>
          <a href="#">Games</a>
          <a href="#">Internet</a>
        </div>
      </div>

      <div class="dropdown">
        <button id="themes" class="dropbtn">THEMES<img class="menu-icons" src="../assets/nav-bar/chevrondown.svg"
            alt="downward pointing chevron"></button>
        <div class="dropdown-content">
          <a href="#">Animals Doing Things They Aren't Supposed to Do</a>
          <a href="#">Books, Literature, and Reading</a>
          <a href="#">Cephalopods and Dinosaurs</a>
          <a href="#">Critters</a>
          <a href="#">Death, Disaster, Paranoia, and Ennui</a>
          <a href="#">Food, Drinking & Eating</a>
          <a href="#">Games and Gaming</a>
          <a href="#">History & Historical Figures</a>
          <a href="#">Internets and Computering</a>
          <a href="#">The Human Condition</a>
          <a href="#">Icons, Charts & Logos</a>
          <a href="#">In-World</a>
          <a href="#">LGBTQ</a>
          <a href="#">Love, Friendship and Makeouts</a>
          <a href="#">Politics, Religion, and Economics</a>
          <a href="#">Popular Culture</a>
          <a href="#">Robots</a>
          <a href="#">Science and Medicine</a>
          <a href="#">Shirts That Know They're Shirts</a>
          <a href="#">Stuff in Foreign Languages</a>
          <a href="#">These Have Swears</a>
          <a href="#">___</a>
          <a href="#">All of the Shirts</a>

        </div>
      </div>

      <div class="dropdown">
        <button id="things" class="dropbtn">THINGS<img class="menu-icons" src="../assets/nav-bar/chevrondown.svg"
            alt="downward pointing chevron"></button>
        <div class="dropdown-content">
          <a href="#">Accessories</a>
          <a href="#">Aprons</a>
          <a href="#">Art Prints & Posters</a>
          <a href="#">Baby Stuff</a>
          <a href="#">Bags</a>
          <a href="#">Books</a>
          <a href="#">Cards</a>
          <a href="#">Drinkware</a>
          <a href="#">Hoodies</a>
          <a href="#">Other Apparel</a>
          <a href="#">Phone Cases</a>
          <a href="#">Pins & Patches</a>
          <a href="#">Plushes & Toys</a>
          <a href="#">Shirts</a>
          <a href="#">Stickers & Magnets</a>
          <a href="#">Tattoos</a>
          <a href="#">EVERYTHING WE GOT</a>
        </div>
      </div>

      <div class="dropdown">
        <button id="clearance" class="dropbtn">CLEARANCE<img class="menu-icons" src="../assets/nav-bar/chevrondown.svg"
            alt="downward pointing chevron"></button>
      </div>

    </ul>
    🎁 👁️‍🗨️
  </div>
</nav>
