<nav class="menu">
  <img src="../../assets/nav-bar/tinytopato.png" alt="tiny topatoco logo">
  <div class="table">
    <ul id="horizontal-list">
      <li>COMICS<img class="menu-icons" src="../assets/nav-bar/chevrondown.svg" alt="downward pointing chevron"></li>
      <li>PODCASTS & MUSIC<img class="menu-icons" src="../assets/nav-bar/chevrondown.svg" alt="downward pointing chevron"></li>
      <li>ARTISTS, WRITERS & GAMES<img class="menu-icons" src="../assets/nav-bar/chevrondown.svg" alt="downward pointing chevron"></li>
      <li>THEMES<img class="menu-icons" src="../assets/nav-bar/chevrondown.svg" alt="downward pointing chevron"></li>
      <li>THINGS<img class="menu-icons" src="../assets/nav-bar/chevrondown.svg" alt="downward pointing chevron"></li>
      <li>CLEARANCE<img class="menu-icons" src="../assets/nav-bar/chevrondown.svg" alt="downward pointing chevron"></li>
    </ul>
    🎁 👁️‍🗨️
  </div>
</nav>
