<nav class="menu">
  <img src="../../assets/nav-bar/tinytopato.png" alt="tiny topatoco logo">
  <div class="table">
    <ul id="horizontal-list">

      <div class="dropdown">
        <button id="comics" class="dropbtn">COMICS<img class="menu-icons" src="../assets/nav-bar/chevrondown.svg"
            alt="downward pointing chevron"></button>
        <div class="dropdown-content">
          <a href="#">Link1</a>
          <a href="#">Link2</a>
        </div>
      </div>

      <div class="dropdown">
        <button id="podcasts" class="dropbtn">PODCASTS & MUSIC<img class="menu-icons"
            src="../assets/nav-bar/chevrondown.svg" alt="downward pointing chevron"></button>
        <div class="dropdown-content">
          <a href="#">Link1</a>
          <a href="#">Link2</a>
        </div>
      </div>

      <div class="dropdown">
        <button id="artists" class="dropbtn">ARTISTS, WRITERS & GAMES<img class="menu-icons"
            src="../assets/nav-bar/chevrondown.svg" alt="downward pointing chevron"></button>
        <div class="dropdown-content">
          <a href="#">Link1</a>
          <a href="#">Link2</a>
        </div>
      </div>

      <div class="dropdown">
        <button id="themes" class="dropbtn">THEMES<img class="menu-icons" src="../assets/nav-bar/chevrondown.svg"
            alt="downward pointing chevron"></button>
        <div class="dropdown-content">
          <a href="#">Link1</a>
          <a href="#">Link2</a>
        </div>
      </div>

      <div class="dropdown">
        <button id="things" class="dropbtn">THINGS<img class="menu-icons" src="../assets/nav-bar/chevrondown.svg"
            alt="downward pointing chevron"></button>
        <div class="dropdown-content">
          <a href="#">Link1</a>
          <a href="#">Link2</a>
        </div>
      </div>

      <div class="dropdown">
        <button id="clearance" class="dropbtn">CLEARANCE<img class="menu-icons" src="../assets/nav-bar/chevrondown.svg"
            alt="downward pointing chevron"></button>
        <div class="dropdown-content">
          <a href="#">Link1</a>
          <a href="#">Link2</a>
        </div>
      </div>

    </ul>
    🎁 👁️‍🗨️
  </div>
</nav>
