* {
  background-color: #990000;
  color: #FFD701;
}

.menu-icons {
  height: 15px;
  padding: 5px;
}

.table {
  display: table;
  margin: 0 auto;
}

ul#horizontal-list {
  /* min-width: 696px; */
  list-style: none;
  padding-top: 20px;
}

ul#horizontal-list li {
  display: inline;
}
