<div class="icons">
  <img id="books" src="../../assets/product-categories/books.gif" alt="book">

  <img id="artwork" src="../../assets/product-categories/art.gif" alt="framed art">

  <img id="shirts" src="../../assets/product-categories/shirts.gif" alt="shirt with text lol butts">

  <img id="gewgaws" src="../../assets/product-categories/gewgaws.gif" alt="bag with text lol butts">

  <img id="whosits" src="../../assets/product-categories/whosits.gif" alt="lapel pins with image of butts">

</div>
