.media-icons {
  height: 15px;
  padding: 5px;
}

.center-icons {
  height: 15px;
  padding: 5px;
  margin-right: auto;
}

#topatoco-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 50px; */
}

#social-media-icons {
  float: left;
}

#center-nav-icons {
  float: right;
}

* {
  font-family: Arial, Helvetica, sans-serif; 
}
