<header>
  <section id="social-media-icons">
    <a href="https://www.instagram.com/topatoco/"><img class="media-icons" src="../assets/top-screen/instagramlogo.svg"
        alt="instagram logo"></a>
    <a href="https://twitter.com/topatoco"><img class="media-icons" src="../assets/top-screen/twitterlogo.svg"
        alt="twitter logo"></a>
    <a href="https://www.pinterest.com/topatoco/"><img class="media-icons" src="../assets/top-screen/pinterestlogo.svg"
        alt="pinterest logo"></a>
    <a href="https://tumblr.horse/"><img class="media-icons" src="../assets/top-screen/tumblrlogo.svg"
        alt="tumblr logo"></a>
    <a href="https://www.youtube.com/user/OfficialTopatoCo"><img class="media-icons"
        src="../assets/top-screen/youtubelogo.svg" alt="youtube logo"></a>
    <a href="https://www.snapchat.com/add/topatoco"><img class="media-icons" src="../assets/top-screen/snapchatlogo.svg"
        alt="snapchat logo"></a>
  </section>

  <section id="center-nav-icons">
    <img class="center-icons" src="../assets/top-screen/homeicon.svg" alt="home icon">
    <img class="center-icons" src="../assets/top-screen/searchicon.svg" alt="search icon">
    <img class="center-icons" src="../assets/top-screen/usericon.svg" alt="user icon">
    <span>MY CART</span>
    <img class="center-icons" src="../assets/top-screen/shoppingcarticon.svg" alt="shopping cart icon">
    <span id="item-count">0</span>
    <img class="center-icons" src="../assets/top-screen/chevrondown.svg" alt="downward pointing chevron">
  </section>

  <img id="topatoco-logo" src="../assets/top-screen/topatocologo.png" alt="topatoco logo">

</header>

<app-navbar></app-navbar>
<app-product-categories></app-product-categories>
<app-new-exclusive></app-new-exclusive>
<app-most-popular></app-most-popular>
<app-official-stuff></app-official-stuff>
<app-instagrams></app-instagrams>

<footer>
about topatoco, sign up for mailing list, etc etc
</footer>