<img class="icons" src="../assets/top-screen/instagramlogo.svg" alt="instagram logo">
<img class="icons" src="../assets/top-screen/pinterestlogo.svg" alt="twitter logo">
<img class="icons" src="../assets/top-screen/snapchatlogo.svg" alt="pinterest logo">
<img class="icons" src="../assets/top-screen/tumblrlogo.svg" alt="tumblr logo">
<img class="icons" src="../assets/top-screen/twitterlogo.svg" alt="youtube logo">
<img class="icons" src="../assets/top-screen/snapchatlogo.svg" alt="snapchat logo">
<!-- <i class="fab fa-instagram"><span class="sr-only">"instagram logo"</span></i> -->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<app-navbar></app-navbar>
