<section id="social-media-icons">
  <img class="icons" src="../assets/top-screen/instagramlogo.svg" alt="instagram logo">
  <img class="icons" src="../assets/top-screen/pinterestlogo.svg" alt="twitter logo">
  <img class="icons" src="../assets/top-screen/snapchatlogo.svg" alt="pinterest logo">
  <img class="icons" src="../assets/top-screen/tumblrlogo.svg" alt="tumblr logo">
  <img class="icons" src="../assets/top-screen/twitterlogo.svg" alt="youtube logo">
  <img class="icons" src="../assets/top-screen/snapchatlogo.svg" alt="snapchat logo">
</section>

<img src="../assets/top-screen/topatocologo.png" alt="topatoco logo">

<app-navbar></app-navbar>
